In [1]:
import folium

In [2]:

# 기본 지도 생성 (서울시청 근처 좌표)
folium_map = folium.Map(
    location=[37.5662952, 126.9779451],
    zoom_start=16
)

In [3]:
# 기본 마커 추가
folium.Marker(
    location=[37.5662952, 126.9779451]
).add_to(folium_map)

In [4]:
# 팝업 생성
popup = folium.Popup('서울시청 위치', max_width=300)

In [5]:
# 팝업이 포함된 마커 추가
folium.Marker(
    location=[37.5662952, 126.9779451],
    popup=popup
).add_to(folium_map)

In [6]:
# 지도 출력
folium_map

In [7]:
import os

# 존재하지 않으면 폴더를 만든다.
os.makedirs('map_data', exist_ok=True)

In [8]:
import requests
import folium
# from pandas.io.json import json_normalize <-- 아래와 같이 수정
from pandas import json_normalize

In [9]:
# 스벅 위치 데이터 가져오기
targetSite='https://www.starbucks.co.kr/store/getStore.do?r=8K3XF06R9Q'
req=requests.post(targetSite, data={
'ins_lat': 37.563398,    # 위도
'ins_lng': 126.9863309,  # 경도
'p_sido_cd': '01',
'p_gugun_cd': '',
'in_biz_cd': '',
'iend': 300,   # 300개
'set_date': ''
})

In [10]:
starbucks=req.json()

In [11]:
print(type(starbucks))
print(starbucks.keys())

<class 'dict'>
dict_keys(['list'])

In [12]:
data= {
    "status": "success",
    "count": 5,
    "list": [
        {"store_id": "001", "name": "Store A", "location": "Seoul"},
        {"store_id": "002", "name": "Store B", "location": "Busan"}
    ]
}
data

{'status': 'success',
 'count': 5,
 'list': [{'store_id': '001', 'name': 'Store A', 'location': 'Seoul'},
  {'store_id': '002', 'name': 'Store B', 'location': 'Busan'}]}

In [13]:
result = json_normalize(data, 'list')
result

  store_id     name location
0      001  Store A    Seoul
1      002  Store B    Busan

In [14]:
starbucks_df=json_normalize(starbucks, 'list')
starbucks_df

,seq,sido_cd,sido_nm,gugun_cd,gugun_nm,code_order,view_yn,store_num,sido,gugun,...,t30,t36,t27,t29,t43,t48,z9999,t64,t66,p02
0,0,None,None,None,None,None,None,None,None,None,...,0,0,0,0,0,0,0,0,0,0
1,0,None,None,None,None,None,None,None,None,None,...,0,0,0,0,0,0,0,0,0,0
2,0,None,None,None,None,None,None,None,None,None,...,0,0,0,0,0,0,0,0,0,0
3,0,None,None,None,None,None,None,None,None,None,...,0,0,0,0,0,0,0,0,0,0
4,0,None,None,None,None,None,None,None,None,None,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0,None,None,None,None,None,None,None,None,None,...,0,0,0,0,0,0,0,0,0,0
296,0,None,None,None,None,None,None,None,None,None,...,0,0,0,0,0,0,0,0,0,0
297,0,None,None,None,None,None,None,None,None,None,...,0,0,0,0,0,0,0,0,0,0
298,0,None,None,None,None,None,None,None,None,None,...,0,0,0,0,0,0,0,0,0,0
299,0,None,None,None,None,None,None,None,None,None,...,0,0,0,0,0,0,0,0,0,0

In [15]:
# df 정보 보기
# starbucks_df.info()
starbucks_df.info(verbose=True, memory_usage='deep', show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 137 columns):
 #    Column                   Non-Null Count  Dtype
---   ------                   --------------  -----
 0    seq                      300 non-null    int64
 1    sido_cd                  0 non-null      object
 2    sido_nm                  0 non-null      object
 3    gugun_cd                 0 non-null      object
 4    gugun_nm                 0 non-null      object
 5    code_order               0 non-null      object
 6    view_yn                  0 non-null      object
 7    store_num                0 non-null      object
 8    sido                     0 non-null      object
 9    gugun                    0 non-null      object
 10   address                  0 non-null      object
 11   new_img_nm               0 non-null      object
 12   p_pro_seq                300 non-null    int64
 13   p_view_yn                0 non-null      object
 14   p_sido_cd                300 non-null    object
 15   p_gugun_cd               300 non-null    object
 16   p_store_nm               0 non-null      object
 17   p_theme_cd               0 non-null      object
 18   p_wireless_yn            0 non-null      object
 19   p_smoking_yn             0 non-null      object
 20   p_book_yn                0 non-null      object
 21   p_music_yn               0 non-null      object
 22   p_terrace_yn             0 non-null      object
 23   p_table_yn               0 non-null      object
 24   p_takeout_yn             0 non-null      object
 25   p_parking_yn             0 non-null      object
 26   p_dollar_assent          0 non-null      object
 27   p_card_recharge          0 non-null      object
 28   p_subway_yn              0 non-null      object
 29   stb_store_file_renew     0 non-null      object
 30   stb_store_theme_renew    0 non-null      object
 31   stb_store_time_renew     0 non-null      object
 32   stb_store_lsm            0 non-null      object
 33   s_code                   300 non-null    object
 34   s_name                   300 non-null    object
 35   tel                      300 non-null    object
 36   dlvry_call_cntr_phno     0 non-null      object
 37   fax                      300 non-null    object
 38   sido_code                300 non-null    object
 39   sido_name                300 non-null    object
 40   gugun_code               300 non-null    object
 41   gugun_name               300 non-null    object
 42   addr                     300 non-null    object
 43   park_info                0 non-null      object
 44   new_state                106 non-null    object
 45   theme_state              300 non-null    object
 46   new_bool                 300 non-null    int64
 47   search_text              300 non-null    object
 48   ins_lat                  300 non-null    object
 49   ins_lng                  300 non-null    object
 50   in_distance              300 non-null    int64
 51   out_distance             300 non-null    object
 52   all_search_cnt           300 non-null    int64
 53   addr_search_cnt          300 non-null    int64
 54   store_search_cnt         300 non-null    int64
 55   rowCount                 300 non-null    int64
 56   store_nm                 300 non-null    object
 57   store_cd                 300 non-null    int64
 58   s_biz_code               300 non-null    object
 59   new_icon                 300 non-null    object
 60   set_user                 300 non-null    object
 61   favorites                300 non-null    int64
 62   map_desc                 0 non-null      object
 63   notice                   0 non-null      object
 64   defaultimage             300 non-null    object
 65   etcimage                 0 non-null      object
 66   in_biz_cd                0 non-null      object
 67   in_store_cd              0 non-null      object
 68   in_favorites             0 non-null      object
 69   in_user_id               0 non-null      object
 70   in_biz_cds               300 non-null    int64
 71   in_biz_arr               0 non-null      object
 72   in_biz_arrdata           0 non-null      object
 73   in_scodes                300 non-null    int64
 74   in_scode_arr             0 non-null      object
 75   in_scode_arrdata         0 non-null      object
 76   disp                     0 non-null      object
 77   set_date                 0 non-null      object
 78   hlytag                   0 non-null      object
 79   hlytag_msg               0 non-null      object
 80   vSal                     300 non-null    object
 81   istart                   300 non-null    int64
 82   iend                     300 non-null    int64
 83   open_dt                  300 non-null    object
 84   gold_card                300 non-null    int64
 85   ip_lat                   300 non-null    object
 86   ip_long                  300 non-null    object
 87   espresso                 300 non-null    object
 88   new_store                300 non-null    object
 89   premiere_food            300 non-null    object
 90   doro_address             300 non-null    object
 91   cold_blew                300 non-null    object
 92   my_siren_order_store_yn  300 non-null    object
 93   whcroad_yn               300 non-null    object
 94   skuNo                    300 non-null    object
 95   skuName                  300 non-null    object
 96   skuImgUrl                300 non-null    object
 97   stock_count              300 non-null    int64
 98   store_area_name          0 non-null      object
 99   store_area_code          300 non-null    object
 100  is_open                  0 non-null      object
 101  ev_open_yn               0 non-null      object
 102  option                   0 non-null      object
 103  gift_stock_yn            0 non-null      object
 104  lat                      300 non-null    object
 105  lot                      300 non-null    object
 106  t20                      300 non-null    int64
 107  t04                      300 non-null    int64
 108  t03                      300 non-null    int64
 109  t01                      300 non-null    int64
 110  t12                      300 non-null    int64
 111  t09                      300 non-null    int64
 112  t06                      300 non-null    int64
 113  t10                      300 non-null    int64
 114  p10                      300 non-null    int64
 115  p50                      300 non-null    int64
 116  p20                      300 non-null    int64
 117  p60                      300 non-null    int64
 118  p30                      300 non-null    int64
 119  p70                      300 non-null    int64
 120  p40                      300 non-null    int64
 121  p80                      300 non-null    int64
 122  t22                      300 non-null    int64
 123  t21                      300 non-null    int64
 124  p90                      300 non-null    int64
 125  p01                      300 non-null    int64
 126  t05                      300 non-null    int64
 127  t30                      300 non-null    int64
 128  t36                      300 non-null    int64
 129  t27                      300 non-null    int64
 130  t29                      300 non-null    int64
 131  t43                      300 non-null    int64
 132  t48                      300 non-null    int64
 133  z9999                    300 non-null    int64
 134  t64                      300 non-null    int64
 135  t66                      300 non-null    int64
 136  p02                      300 non-null    int64
dtypes: int64(47), object(90)
memory usage: 1.1 MB

In [16]:
starbucks_df.columns

Index(['seq', 'sido_cd', 'sido_nm', 'gugun_cd', 'gugun_nm', 'code_order',
       'view_yn', 'store_num', 'sido', 'gugun',
       ...
       't30', 't36', 't27', 't29', 't43', 't48', 'z9999', 't64', 't66', 'p02'],
      dtype='object', length=137)

In [17]:
cols = ['s_name','sido_code','sido_name','gugun_code','gugun_name', 'doro_address','lat','lot']
starbucks_df_map=starbucks_df[cols]
starbucks_df_map.head(3)

,s_name,sido_code,sido_name,gugun_code,gugun_name,doro_address,lat,lot
0,역삼아레나빌딩,01,서울,0101,강남구,서울특별시 강남구 언주로 425 (역삼동),37.501087,127.043069
1,논현역사거리,01,서울,0101,강남구,서울특별시 강남구 강남대로 538 (논현동),37.510178,127.022223
2,신사역성일빌딩,01,서울,0101,강남구,서울특별시 강남구 강남대로 584 (논현동),37.5139309,127.0206057

In [18]:
starbucks_df_map.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   s_name        300 non-null    object
 1   sido_code     300 non-null    object
 2   sido_name     300 non-null    object
 3   gugun_code    300 non-null    object
 4   gugun_name    300 non-null    object
 5   doro_address  300 non-null    object
 6   lat           300 non-null    object
 7   lot           300 non-null    object
dtypes: object(8)
memory usage: 18.9+ KB

In [19]:
# 위도, 경도 숫자로 변경
starbucks_df_map.loc[:, 'lat']=starbucks_df_map['lat'].astype(float)
starbucks_df_map.loc[:, 'lot']=starbucks_df_map['lot'].astype(float)

In [21]:
# 지도 생성
starbucksMap = folium.Map(location=[37.5708249, 126.9836398], zoom_start=16)

popup = folium.Popup('종각점', max_width=300)
folium.Marker(location=[37.5699018, 126.984528], popup=popup).add_to(starbucksMap)

popup = folium.Popup('종로관철점', max_width=300)
folium.Marker(location=[37.569058, 126.986013], popup=popup).add_to(starbucksMap)

popup = folium.Popup('종로구청점', max_width=300)
folium.Marker(location=[37.572662, 126.981138], popup=popup).add_to(starbucksMap)

# 폴더 생성
os.makedirs('chart_datas', exist_ok=True)

# html로 저장
starbucksMap.save('chart_datas/starMap1.html')

starbucksMap

In [22]:
starbucks_df_map.head(3)

,s_name,sido_code,sido_name,gugun_code,gugun_name,doro_address,lat,lot
0,역삼아레나빌딩,01,서울,0101,강남구,서울특별시 강남구 언주로 425 (역삼동),37.501087,127.043069
1,논현역사거리,01,서울,0101,강남구,서울특별시 강남구 강남대로 538 (논현동),37.510178,127.022223
2,신사역성일빌딩,01,서울,0101,강남구,서울특별시 강남구 강남대로 584 (논현동),37.513931,127.020606

In [23]:
starbucks_map2 = 
starbucks_map2.head()

SyntaxError: invalid syntax (3042116451.py, line 1)

In [ ]:
# 지도 객체 생성
foliumMap = folium.Map(location=[s_map_datas[0][1], s_map_datas[0][2]], zoom_start=16)

# map에 표시하기
for data in s_map_datas:
    folium.Marker(location=[data[1], data[2]],
                  popup=folium.Popup(data[0], max_width=300)
                 ).add_to(foliumMap)

# 지도 파일로 저장
import os
os.makedirs('folium_data', exist_ok=True)
foliumMap.save('folium_data/folium_map1.html')

# foliumMap 객체 반환
foliumMap